/***************************** GENERAL ***************************/
html {
    font-family: 'Open Sans', sans-serif;
}

/***************************** HEADER ****************************/
header {
    background: url("dust_scratches.png");
}

nav {
    height: 35px;
    background: #A6E4E7;
    box-shadow: 2px 2px 5px #c9c7c7;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10pt;
    line-height: 35px;
}

.profil {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 0 0;
    text-align: center;
}

.profil img {
    width: 18%;
    height: 100%;
    border: 4px solid #A6E4E7;
    border-radius: 50%;
    opacity: 0.8;
}

.coordonnees {
    margin: auto 0;
}

.jobTitle {
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Patrick Hand', cursive;
}
